body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .container {
    max-width: 4000px;
    margin: auto;
    padding: 0 20px;
    color: black;
  }
  
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #030303;
    padding: 10px 0;
    transition: background-color 0.3 ease
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #navbar ul li {
    display: inline;
  }
  
  #navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  #navbar ul li a:hover {
    color: #ffcc00;
  }

  .hero {
    text-align: center;
    padding: 100px 0;
    background-color: #b3b1b1;
    background-size: cover;
    color: #ddd4d4;
  }

  .about, .products, .contact {
    padding: 80px 0;
    background-color: #b3b1b1;
  }
  
  .about h2, .products h2, .contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  footer {
    
    background-color: #8a898b;
    color: #f7f1ee;
    padding: 5px 0;
    text-align: center;
  }
  
  